.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.search-form {
  gap: 1rem;
}

.input-group {
  position: relative;
}

.input-group .name-input {
  width: 10rem;
  height: 2rem;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: white;
  transition: all 0.2s ease;
}

.input-group .name-input:focus + label,
.input-group .name-input:not(:placeholder-shown) + label {
  top: 0;
}

.search-by-name-cocktail-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
}

.cocktail-list-item {
  text-decoration: none;
}

.cocktail-link {
  text-decoration: none;
  color: black;
}
